<ion-header>
    <ion-navbar>
        <ion-title>花相册</ion-title>

        <ion-buttons end>
            <!--<button (click)="loadGallery()">
                  <ion-icon name="refresh"></ion-icon>
            </button>-->
            <button (click)="gotoSearch()" *ngIf="!isSearchPage">
                <ion-icon name="search"></ion-icon>
            </button>
            <button (click)="copyImg()" *ngIf="!isSearchPage">
                <ion-icon name="add"></ion-icon>
            </button>
            <button (click)="createDir()" *ngIf="!isSearchPage">
                <ion-icon name="folder"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content fullscreen="true">

    <ion-searchbar *ngIf="isSearchPage" (ionInput)="searchItems($event)"></ion-searchbar>

    <div [virtualScroll]="images" *ngIf="images.length > 0">
        <!--<div *virtualItem="let imageEntity" class="image-container" [style.width]="imageSize + 'px'" [style.height]="2*imageSize + 'px'">-->
        <div *virtualItem="let imageEntity" class="image-container" [style.width]="imageSize + 'px'">

            <ion-img [src]="imageEntity.image" class="fullscreen-image" (click)="imageClicked(imageEntity, $event)" [width]="imageSize + 'px'"
                [height]="imageSize + 'px'" tappable></ion-img>

            <div (tap)="nameClicked(imageEntity, $event)">
                <p class="center-text">
                    {{imageEntity.name}} <br /> 别名：{{imageEntity.othername}} <br /> 科：{{imageEntity.ke}} <br /> 属：{{imageEntity.shu}}
                    <br /> 拉丁名：{{imageEntity.latin}} <br /> 时间：{{imageEntity.time}} <br /> 地点：{{imageEntity.place}}
                </p>
            </div>

        </div>
    </div>

</ion-content>